@{
    ViewBag.Title = "Calendar";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>A calendar control. </p>
    <p>Properties: Date.</p>
</div>

<br />

<div>
    <button id="btn1" onclick="Reset()">Reset</button> <br />
</div>

<br />

<div class="html-code">
    <table id="Calendar" data-setup="{ Date: '2000-11-18'}"></table>
</div>

<br />



<script class="js-code">
    var c;

    tp.Ready(function () {
        c = tp.Select('#Calendar');
        c = new tp.Calendar(c);
    });


    function Reset() {
        c.Date = new Date();
    }


</script>

<partial name="_AceEditorPager" />
