@{
    ViewBag.Title = "CheckBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>A check-box control. Is actually a label element surrounding a input[type=checkbox] element.</p>
    <p>Provides properties such as Text and Checked (boolean).</p>
</div>

<br />

<div class="html-code">
    <label id="CheckBox" ><input type="checkbox" /><span class='tp-Text'> This is the text of the checkbox</span></label>
</div>

<script class="js-code">
    var cb;

    tp.Ready(function () {
        cb = new tp.CheckBox('#CheckBox');
    });
</script>

 