 

@{
    ViewBag.Title = "CheckComboBox";
} 


<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>

    <div>
        <button id="btn1" onclick="ResetList()">Set 100 items</button> <br />
    </div>
    <br />

    <div id="log"></div>
    <br />

    <div>
        <div id="cbo" data-setup="{ Width: 300, ListValueField: 'Id', ListDisplayField: 'Name', List: [{Id: 100, Name: 'All'}, {Id: 0, Name: 'No stops'}, {Id:1, Name: '1 stop'}]  }"></div>
    </div>
    <br />
 

    
</div>

 

<script>    
    var cbo;
 
    tp.Ready(function () {
 
        cbo = new tp.CheckComboBox('#cbo');

        cbo.On('SelectionChanged', function () {
            var S = cbo.SelectedValues.join(', ');
            tp.Html('#log', S);
        });
    })

 
    function ResetList() {
        var List = [];
        for (var i = 0, ln = 100; i < ln; i++) {
            List.push({
                Id: i + 1,
                Name: 'Name ' + (i + 1)
            });
        }

        cbo.Items = List;
    }
    

</script>
 