@{
    ViewBag.Title = "CheckListBox";
}


<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>A multi-select list-box control with check-boxes.</p>
    <p>Inherits from <code>tp.CheckListControl</code> and provides properties such as Items, ListSource, ListDisplayField and ListValueField</p>
</div>

<br />

<div>
    <button id="btn1" onclick="ResetList()">Set 100 items</button> <br />
</div>

<br />

<div id="log"></div>
<br />

<div class="html-code">
    <div id="lbo" data-setup="{Height: 200, ListValueField: 'Id', ListDisplayField: 'Name', List: [{Id: 100, Name: 'All'}, {Id: 0, Name: 'No stops'}, {Id:1, Name: '1 stop'}]  }"></div>
</div>

<br />

<script class="js-code">
    var lbo;

    tp.Ready(function () {
        lbo = new tp.CheckListBox('#lbo');

        lbo.On('SelectionChanged', function () {
            var S = lbo.SelectedValues.join(', ');
            tp.Html('#log', S);
        });
    })


    function ResetList() {
        var List = [];
        for (var i = 0, ln = 100; i < ln; i++) {
            List.push({
                Id: i + 1,
                Name: 'Name ' + (i + 1)
            });
        }

        lbo.Items = List;
    }

</script>

<partial name="_AceEditorPager" />