 

@{
    ViewBag.Title = "ComboBox";
}
 

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>

    <div>
        <button id="btn1" onclick="ResetList()">Set 100 items</button> <br />
    </div>

    <br />

    <div>
        <div id="cb" data-setup="{ListOnly: true, ListValueField: 'Id', ListDisplayField: 'Name', List: [{Id: 100, Name: 'All'}, {Id: 0, Name: 'No stops'}, {Id:1, Name: '1 stop'}], SelectedIndex: 0 }"></div>
    </div>

    <br />
 
    <div>
        <div id="cb2" data-setup="{ListOnly: true, ListValueField: 'Id', ListDisplayField: 'Name' }"></div>
    </div>

    
</div>

 

<script>    
    var cb,
        cb2;
 
    tp.Ready(function () { 
        cb = new tp.ComboBox('#cb');

        cb2 = new tp.ComboBox('#cb2');
        cb2.ListSource = new tp.DataSource(tp.TestData.tblCountries);
    });

 
    function ResetList() {
        var List = [];
        for (var i = 0, ln = 100; i < ln; i++) {
            List.push({
                Id: i + 1,
                Name: 'Name ' + (i + 1)
            });
        }

        cb.Items = List;
    }
    

</script>
 