 

@{
    ViewBag.Title = "HtmlNumberBox";
} 
 
 
<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>

 
    <div>
        <input type="number" id="HtmlNumberBox"  step="0.100" , value='50' />
    </div>
    <br />
 
 
    
</div>

 

<script>    
    var ctrl;
 
    tp.Ready(function () { 
        ctrl = new tp.HtmlNumberBox('#HtmlNumberBox');
    })

 
 
    

</script>
 