@import "Variables.css";

/*---------------------------------------------------------------------------------------
  Global

    'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
    Tahoma, Arial, 'Open Sans', 'Segoe UI',  Verdana, sans-serif;
---------------------------------------------------------------------------------------*/


html {
    font-family: Arial, Tahoma, 'Segoe UI', Verdana, sans-serif;
    font-size: 14px;
}

body {
    position: relative;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--White);
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    cursor: default;

    user-select: none;
} 


button:focus {
    outline: thin dotted;
} 

input,
select,
textarea,
label,
legend {
    font: inherit;
    line-height: 1.7;
}

a {
    color: inherit;
    cursor: pointer;
}

select {
    height: 2.15em;
}

select > option {
    line-height: 1.7;
}

script {
    display: none;
}


/*---------------------------------------------------------------------------------------
  tp
---------------------------------------------------------------------------------------*/
#LogDiv {
    display: none;
}

.tp-HasErrors {
    border-color: red;
}

.tp-TextTop .tp-CtrlRow,
.tp-TextTop .tp-CheckBoxRow {
    padding-left: 0;
    padding-right: 0;
}

 

.tp-SqlFilter-Ctrl input[type=text], 
.tp-SqlFilter-Ctrl input[type=number], 
.tp-SqlFilter-Ctrl input[type=date], 
.tp-SqlFilter-Ctrl select,

.tp-CtrlRow input[type=text], 
.tp-CtrlRow input[type=email], 
.tp-CtrlRow input[type=password], 
.tp-CtrlRow input[type=number], 
.tp-CtrlRow input[type=date], 
.tp-CtrlRow input[type=tel], 
.tp-CtrlRow select {
    border: 1px solid var(--Gray);
}


.tp-SqlFilter-Ctrl input[type=text]:focus, 
.tp-SqlFilter-Ctrl input[type=number]:focus, 
.tp-SqlFilter-Ctrl input[type=date]:focus, 
.tp-SqlFilter-Ctrl select:focus,

.tp-CtrlRow input[type=text]:focus,
.tp-CtrlRow input[type=email]:focus,
.tp-CtrlRow input[type=password]:focus,
.tp-CtrlRow input[type=number]:focus,
.tp-CtrlRow input[type=date]:focus,
.tp-CtrlRow input[type=tel]:focus,
.tp-CtrlRow textarea:focus,
.tp-CtrlRow select:focus {
    border: 1px solid var(--GrayDarkDeep);
} 

/*
.tp-CtrlRow textarea {
    border: 1px solid var(--Gray);
    padding: 4px;
}
*/
 
 

 
/* background color on hover */
.tp-CheckBox:hover input ~ .checkmark {
    background-color: var(--GrayLight);
}
  
/* background color on checked */
.tp-CheckBox input:checked ~ .checkmark {
    background-color: var(--Yellow);
    border: 2px solid var(--Yellow);
}

 /* checkmark:after */
 .tp-CheckBox .checkmark:after { 
   border-color: var(--White); 
   transform: rotate(50deg);  
 }


/*---------------------------------------------------------------------------------------
  general
---------------------------------------------------------------------------------------*/

.bold {
    font-weight: bold;
}

.upper-case {
    text-transform: uppercase;
}

.overlay { 
    position: absolute;
    display: flex;   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15); 
}

.message-text-area {
    position: relative;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: var(--DialogBox-Width);
    padding: 4px 10px;
    border: none;
}

button:not(.btn-test),
.button:not(.btn-test) {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
 
.buttons.tp-CtrlRow {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttons.tp-CtrlRow > .btn-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    height: 68px;
    width: 45%; 
}

.buttons.tp-CtrlRow > .btn-submit:hover {
    background-color: var(--Black);
    color: var(--White);
}

.color-underline {
    text-shadow: 1px 1px black;
    text-decoration: underline var(--Yellow) solid; 
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
}

/*---------------------------------------------------------------------------------------
  tab bar
---------------------------------------------------------------------------------------*/
.tab-container {
    position: relative;
    display: flex; 
    align-items: center; 
    flex-grow: 1;
}

.tab-container > .btn-to-left,
.tab-container > .btn-to-right {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 1.5em;
    white-space: nowrap;
    min-width: 40px;
}

.tab-container > .tab-bar {
    position: relative;
    display: flex; 
    align-items: center; 
    flex-grow: 1;
    overflow: hidden;
    min-height: 40px;
}

.tab-container > .tab-bar > .tab-item {
    position: relative;
    display: block; 
    cursor: pointer;
    padding: 0 1em 0 0;
    white-space: nowrap;
    height: 100%;
}

.tab-container > .tab-bar > .tab-item:hover {    
    text-decoration: underline var(--HoverColor) solid; 
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.tab-container > .tab-bar > .tab-item.tp-Selected {    
    text-decoration: underline var(--White) solid; 
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.tab-container > .tab-bar > .tab-item > .tp-Text {
    position: relative;
}
/*---------------------------------------------------------------------------------------
  tab pager
---------------------------------------------------------------------------------------*/

.pager-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pager-container > .top-zone {
    position: relative;
    display: flex;
    align-items: center; 

    background-color: var(--Color1);
    color: var(--White);
}

.pager-container > .page-list {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

/*---------------------------------------------------------------------------------------
  header
---------------------------------------------------------------------------------------*/
.header {
    position: relative;
    display: flex; 
    flex-direction:column;
    background-color: var(--Color2);
    color: var(--White);   
}

.header .tool-bar-zone {
    position: relative;
    display: flex; 
    align-items: center; 
    min-height: 36px;
    padding: 0 1em;
}

.header .tool-bar-zone > .inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
} 

/*---------------------------------------------------------------------------------------
  main-menu
---------------------------------------------------------------------------------------*/
 
.header .main-menu .tab-bar > .tab-item > .tp-List {
    display: none;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--GrayLight);
    color: var(--Black);
}

.header .main-menu .tab-bar > .tab-item > .tp-List.tp-Visible {
    display: block;
}

.header .main-menu .tab-bar > .tab-item > .tp-List > * {
    display: flex;
    min-height: 2em;
    align-items: center;
    padding: 0 0.9em 0 0.6em;
}

.header .main-menu .tab-bar > .bar-item > .tp-List > *:hover {
    border-left: 4px solid var(--HoverColor);
    padding-left: 6px;   
}



/*---------------------------------------------------------------------------------------
  language-selector
---------------------------------------------------------------------------------------*/
.language-selector-container {
    padding: 0 1em 0 0;
} 
.language-selector {   
}

.language-selector-button {
    cursor: pointer;
    display: flex;
}

.language-selector-button > * {    
    padding: 0 4px;
}

.language-selector .tp-Text {
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    font-weight: var(--SemiBold);
}

.language-selector .tp-List {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--GrayLight);
    color: var(--Black);
}

.language-selector .tp-List > * {
    display: block;
    text-transform: uppercase;
    font-weight: var(--SemiBold);
    padding: 14px 12px; 
}

.language-selector .tp-List > *:not(:first-child) {
    border-top: 1px solid var(--Gray);
}

.language-selector .tp-List.tp-Visible {
    display: block;
}

.language-selector .tp-List .tp-Selected {
    color: var(--Gray);
}

/*---------------------------------------------------------------------------------------
  footer
---------------------------------------------------------------------------------------*/
.footer {
    position: relative;
    display: flex; 
    min-height: 2.5em;
    background-color: var(--Color2);
    color: var(--White);    
} 

/*---------------------------------------------------------------------------------------
  page
---------------------------------------------------------------------------------------*/

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--Page-Padding);
    min-height: 800px;
    flex-grow: 1;
}

.page .page-caption {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.page .page-caption .page-title {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: var(--HeavyBold);
    flex-grow: 1;
}

.field-group {
    position: relative;
    margin: 0 0 30px 0;
}

.field-group > .caption {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field-group > .caption > .title {
    font-size: 22px;
    font-weight: var(--HeavyBold);
    margin: 0 0 25px 0;
}

.form-buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 30px 0;
    gap: 0.5em;
}

.form-buttons .btn-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    height: 5em;
    padding: 0 2.8em;
}

.form-buttons .btn-submit:hover {
    background-color: var(--Black);
    color: var(--White);
}

a.button { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    height: 5em;
    padding: 0 2.8em;
}

a.button:hover {
    background-color: var(--Black);
    color: var(--White);
}

/*---------------------------------------------------------------------------------------
  error-list
---------------------------------------------------------------------------------------*/

/* error-list */
.error-list {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Red);
    color: var(--White);
    opacity: 1;
    padding: 0 0 20px 0;
}

/* caption */
.error-list > .caption {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 20px 10px 20px;
    font-size: 24px;
}

.error-list > .caption  > .title {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    color: var(--White);
    font-weight: bold;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;    
    border-bottom: 1px solid var(--GrayDark);
} 

.error-list > .caption > .close {
    position: relative;
    padding: 0 0 0 16px;
    cursor: pointer;    
}

.error-list > .list {
    position: relative;
}

.error-list > .list > .item {
    position: relative;
    line-height: 1.5em;
}