 

body { 
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif; 
}

ul.no-style li,
ol.no-style li {
    list-style-type: none;
}

.Ace-Pager .tab-page > .ace_editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: 2px 0;
}