.desk {
    position: relative;
    display: flex; 
    flex-grow: 1;
}

.desk .pager-container.main-pager > .top-zone {
    background-color: var(--Color4);
    color: var(--White);  
}

 
.tab-container > .tab-bar > .tab-item:hover {    
    text-decoration: underline var(--HoverColor) solid; 
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.desk-page {
    position: relative;
    display: flex; 
    flex-direction: column;
    width: 100%;
    padding: 4px 2%;
}

 
