<br />
<hr />
<br />
<div class="tp-TabControl Ace-Pager" data-setup="{ SelectedIndex: 0 }">
    <div><div>HTML</div><div>Javascript</div></div>
    <div class="pager-content">
        <div class="tab-page">
            <pre id="edtHtml"> </pre>
        </div>
        <div class="tab-page">
            <pre id="edtJs"></pre>
        </div>
    </div>
</div>

<script>
    tp.Ready(function () {
        Demos.CreateEditorPager();
    });
</script>