<!DOCTYPE html>
<html lang="@Lib.App.Culture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @* <link href="~/tp/css/font-awesome.css" rel="stylesheet" /> *@
    @* <link href="~/tp/css/normalize.min.css" rel="stylesheet" /> *@
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @if (WSys.IsDevelopment)
    {
        <link href="~/tp/css/tp.css" rel="stylesheet" />
        <link href="~/tp/css/tp-UI.css" rel="stylesheet" />
 
        <link href="~/css/demos.css" rel="stylesheet" />

        <script src="~/tp/js/tp.js"></script>
        <script src="~/tp/js/tp-Data.js"></script>
        <script src="~/tp/js/tp-UI.js"></script>
        <script src="~/tp/js/tp-Grid.js"></script>
        <script src="~/tp/js/tp-Model.js"></script>


        <script src="~/js/app.js"></script>
        <script src="~/js/temp.js"></script>
    }
    else
    {
    }


</head>
<body>
 
    @RenderBody() 

    <section id="CommonHtmlContainer" style="display: none;">
        @await Html.PartialAsync("Layout.Common")
    </section>

    @await Html.PartialAsync("Layout.MessageList")
</body>
</html>


