<!DOCTYPE html>
<html lang="@Lib.App.Culture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @* <link href="~/tp/css/font-awesome.css" rel="stylesheet" /> *@
    @* <link href="~/tp/css/normalize.min.css" rel="stylesheet" /> *@
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @if (WSys.IsDevelopment)
    {
        <link href="~/tp/css/tp.css" rel="stylesheet" />
        <link href="~/tp/css/tp-UI.css" rel="stylesheet" />

        <link href="~/css/demos.css" rel="stylesheet" />

        <script src="~/ace-1.4.13/src/ace.js"></script>

        <script src="~/tp/js/tp.js"></script>
        <script src="~/tp/js/tp-Data.js"></script>
        <script src="~/tp/js/tp-UI.js"></script>
        <script src="~/tp/js/tp-Grid.js"></script>
        <script src="~/tp/js/tp-Model.js"></script>

        <script src="~/tp/js/tp-TestData.js"></script>

        <script src="~/js/app.js"></script>
        <script src="~/js/demos.js"></script>
        <script src="~/js/temp.js"></script>
    }
    else
    {
    }


</head>
<body class="demo-page">

    <!-- Keep this script here. It should be the first tp.Ready() to be executed,
        in order to grab the html code before any control creation that alters the html. -->
    <script>
        tp.SysConfig.GlobalErrorHandling = true;

        var Demos = Demos || {};

        Demos.Pager = null;
        Demos.edtHtml = null;
        Demos.edtJs = null;

        Demos.CreateEditorPager = () => {
            Demos.Pager = new tp.TabControl('.Ace-Pager');

            Demos.edtHtml = ace.edit("edtHtml");
            Demos.edtHtml.setTheme("ace/theme/twilight");
            Demos.edtHtml.session.setMode("ace/mode/html");

            Demos.edtJs = ace.edit("edtJs");
            Demos.edtJs.setTheme("ace/theme/twilight");
            Demos.edtJs.session.setMode("ace/mode/javascript");

            let el, Code;
            el = tp('.js-code');
            if (tp.IsElement(el)) {
                Code = el.innerHTML;
                Demos.edtJs.setValue(Code, -1);
            }

            el = tp('.html-code');
            if (tp.IsElement(el)) {
                Code = el.innerHTML;
                Demos.edtHtml.setValue(Code, -1);
            }

            //Demos.Pager.SelectedIndex = 1;
        };

        tp.Ready(function () {
            let el = tp('.js-code');
            let el2 = tp('.html-code');

            if (tp.IsElement(el) || tp.IsElement(el2)) {
                el = tp('.ace-pager-container');
                el.style.display = '';

                Demos.CreateEditorPager();
            }
        });
    </script>

    @RenderBody()

    <div class="ace-pager-container" style="display: none">
        <br />
        <hr />
        <br />
        <div class="tp-TabControl Ace-Pager" data-setup="{ SelectedIndex: 0 }">
            <div><div>HTML</div><div>Javascript</div></div>
            <div class="pager-content">
                <div class="tab-page">
                    <pre id="edtHtml"> </pre>
                </div>
                <div class="tab-page">
                    <pre id="edtJs"></pre>
                </div>
            </div>
        </div>
    </div>

    <section id="CommonHtmlContainer" style="display: none;">
        @await Html.PartialAsync("Layout.Common")
    </section>

    @await Html.PartialAsync("Layout.MessageList")
</body>
</html>


