<div class="tp-SqlFilterRow">
    <div class="tp-Text"></div>
    <div class="tp-SqlFilter-DateRangeSelector">
        <div class="tp-Text"></div>
        @* DateRange combo-box here*@
    </div>
    <div class="tp-SqlFilter-Ctrl">

    </div>
</div>