@* This is the default DataView. To be used with trivial brokers *@
@model DataViewModel

@{ 
    string ControlWidthCssClasses = ViewDef.GetCssClassesForControlWidths(Model.ViewDef.TextTop, Model.ViewDef.TextSplitPercent);
}

<div class="desk-page tp-DataView @Html.Raw(ControlWidthCssClasses)" data-setup='@Html.Raw(Model.Setup.Serialize())'>
    @await Html.PartialAsync("DataView.ToolBar")
    <div class="ViewFilterPanel"></div>
    <div class="Grid ViewBrowserGrid" data-setup="{ Width:'100%', Height: '100%', ReadOnly: true }"></div> 
    @{
        DataViewPagerModel PagerModel = new DataViewPagerModel(Model.ViewDef);
        PagerModel.CssClasses = "TabControl ViewDataPager";
        PagerModel.DataSetupText = "{ SelectedIndex: 0 }";

        @await Html.PartialAsync("DataView.Tabs", PagerModel)
    }
</div>

