@* This is the default DataView. To be used with trivial brokers *@
@model ViewModel

@{
    // The standard DataView contains 3 panels in a tp.PanelList with the following indexes:
    // 0 - Filter   (the container of the filter controls)
    // 1 - List     (the container of the List (browser) grid)
    // 2 - Edit     (the container of a TabPager with data entry controls)

    string ControlWidthCssClasses = ViewDef.GetCssClassesForControlWidths(Model.Def.TextTop, Model.Def.TextSplitPercent);
}

<div class="@Html.Raw(ControlWidthCssClasses)" data-setup='@Html.Raw(Model.Def.GetDataSetupText())'>

    @await Html.PartialAsync("View.ToolBar", Model.Def.ToolBarButtons)

    @{
        var ContainerPanelModel = new ViewContainerPanelModel(Model.Def, Model.Def);
        @await Html.PartialAsync("View.ContainerPanel", ContainerPanelModel)
    }
</div>


