@model ViewAccordeonModel

<div class='Accordeon' data-setup='@Html.Raw(Model.Def.GetDataSetupText())'>
    @foreach (var PanelDef in Model.Def.Items)
    {
        <div>
            <div>@PanelDef.Title</div>
            <div>
                @{
                    var ContainerPanelModel = new ViewContainerPanelModel(Model.ViewDef, PanelDef);
                    @await Html.PartialAsync("View.ContainerPanel", ContainerPanelModel)
                }
            </div>
        </div>
    }
</div>

