@{
    ViewBag.Title = "DataSetBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>The <code>tp.DataSetBoxAsync(DataSet, WindowArgs)</code> displays a modal window with a grid displaying the tables of a <code>tp.DataSet</code>. Returns a Promise.</p>
</div>

<br />

<div class="html-code">
    <button onclick="ShowDialog()">Show DataSetBox dialog</button> <br />
</div>

<script class="js-code">
    async function ShowDialog() {
        let DataSet = new tp.DataSet('DataSet1');

        DataSet.AddTable(tp.TestData.CreateTestDataTable(10).Table);
        DataSet.AddTable(tp.TestData.tblCountries);
        DataSet.AddTable(tp.TestData.tblDepartments);

        let DialogBox = await tp.DataSetBoxAsync(DataSet, { Height: 500 });

        let S = tp.EnumNameOf(tp.DialogResult, DialogBox.DialogResult);
        tp.InfoNote('DialogResult = ' + S);
    }
</script>
