@{
    ViewBag.Title = "DataSetBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>The <code>tp.DataSetBoxAsync(DataSet, Text)</code> displays a modal window with a grid displaying the tables of a <code>tp.DataSet</code>. Returns a Promise.</p>
</div>

<br />

<div class="html-code">
    <button onclick="ShowDialog()">Show DataSetBox dialog</button> <br />
</div>

<script class="js-code">
    function ShowDialog() {
        var DataSet = new tp.DataSet('DataSet1');

        DataSet.AddTable(tp.TestData.CreateTestDataTable(10).Table);
        DataSet.AddTable(tp.TestData.tblCountries);
        DataSet.AddTable(tp.TestData.tblDepartments);

        tp.DataSetBoxAsync(DataSet, 'This is the window caption')
            .then(function (Args) {
                let DialogResult = Args.DialogResult;
                let S = tp.EnumNameOf(tp.DialogResult, DialogResult);
                tp.InfoNote('DialogResult = ' + S);
            });
    }
</script>
