 

@{
    ViewBag.Title = "MiscDialogs";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>

 
 

    
</div>

 

<script>       
 
    tp.Ready(function () {
        
    });

 
 

</script>
 