@{
    ViewBag.Title = "NotificationDialogs";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2> 

<div>
    <p>
        Notifications dialogs display information to the user as modal dialog boxes. They are also movable and resizable.
    </p>
</div>

<br />

<div class="html-code">
    <p><button onclick="InfoBox()">Info</button></p>
    <p><button onclick="YesNoBox()">Yes/No</button></p>
    <p><button onclick="ErrorBox()">Error</button></p>
</div>

<br />

<script class="js-code">
    function InfoBox() {
        var S = 'This is an Info box ';
        tp.InfoBoxAsync(S);
    }

    function YesNoBox() {
        var S = 'This is a Yes/No box';
        tp.YesNoBoxAsync(S)
            .then((Result) => {
                tp.InfoNote(Result === true ? "TRUE" : "false");
            });
    }

    function ErrorBox() {
        var S = 'This is an Error box';
        tp.ErrorBoxAsync(S);
    }
</script>

 
