 

@{
    ViewBag.Title = "PickRowsBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
 
    <div>
       <button  onclick="ShowDialog()">Show PickRowsBox dialog</button> <br />
    </div>
    <br />

</div>

 

<script>       
 
    tp.Ready(function () {        
    }); 
 
    function ShowDialog() {  
        var Data = tp.TestData.CreateTestDataTable(50);
        var Table = Data.Table; 

        tp.PickRowsBoxPromise(Table, [], [])
            .then(function (Args) {
                let DialogResult = Args.Window.DialogResult;
                let S = tp.EnumNameOf(tp.DialogResult, DialogResult);
                S += ' \nSelected Rows Count: ' + Args.SelectedRows.length;
 
                tp.InfoNote('DialogResult = ' + S);
            });     
 
    }

</script>
 