@{
    ViewBag.Title = "PickRowsBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        The <code>tp.PickRowsBoxAsync(SqlTextOrSourceTable, WindowArgs = null)</code> function displays a row pick list dialog box 
        with a grid that allows the user to check/select multiple rows. Returns the dialog box.  <br />
    </p>
    <p>
        When the user clicks OK in the dialog box
        the Args property of the returned dialog box contains the SelectedRows array property with the selected <code>tp.DataRow</code> rows.
    </p>
</div>

<br />

<div class="html-code">
    <button onclick="ShowDialog()">Show PickRowsBox dialog</button> <br />
</div>
<br />

<script class="js-code">
    async function ShowDialog() {
        let Data = tp.TestData.CreateTestDataTable(50);

        let tblSource = Data.Table;
        let VisibleColumns = [];
        let SelectedRows = [];

        let Args = new tp.MultiRowPickDialogArgs();
        Args.Source = tblSource;
        Args.VisibleColumns = VisibleColumns;
        Args.SelectedRows = SelectedRows;

        let DialogBox = await tp.PickRowsBoxAsync(tblSource, Args);
 
        let S = tp.EnumNameOf(tp.DialogResult, DialogBox.DialogResult);
        if (DialogBox.DialogResult === tp.DialogResult.OK)
            S += ' \nSelected Rows Count: ' + DialogBox.SelectedRows.length;

        tp.InfoNote('DialogResult = ' + S);
    }
</script>
