@{
    ViewBag.Title = "RowBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        The <code>function tp.RowBoxAsync(DataRow, Text)</code> displays a modal window with a grid showing extended information about a specified <code>tp.DataRow</code> data-row and returns a Promise. <br />
        Mainly for debug purposes.
    </p>
</div>

<br />

<div class="html-code">
    <button onclick="ShowDialog()">Show RowBox dialog</button> <br />
</div>
<br />

<script class="js-code">
    async function ShowDialog() {
        var Data = tp.TestData.CreateTestDataTable(1);
        var Table = Data.Table;
        var Row = Table.Rows[0];

        let Args = await tp.RowBoxAsync(Row);

        let DialogResult = Args.DialogResult;
        let S = tp.EnumNameOf(tp.DialogResult, DialogResult);

        tp.InfoNote('DialogResult = ' + S);
    }

</script>
