@{
    ViewBag.Title = "TableBox";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>The <code>tp.TableBoxAsync(Table, WindowArgs = null)</code> displays a modal window with a grid displaying a <code>tp.DataTable</code>. Returns a Promise.</p>
    <p>The <code>tp.WindowArgs</code> Args property of the Window returned by this function contains a Grid property that references the grid and a SelectedRow property that references the Grid.FocusedRow, if any, or null. </p>
</div>
<br />

<div class="html-code">
    <button onclick="ShowDialog()">Show TableBox dialog</button> <br />
</div>

<br />

<script class="js-code">
    async function ShowDialog() {
        let Data = tp.TestData.CreateTestDataTable(100);
        let Table = Data.Table;

        log(tp.DebugMode);
        let DialogBox = await tp.TableBoxAsync(Table);

        let S = tp.EnumNameOf(tp.DialogResult, DialogBox.DialogResult);
        if (DialogBox.Args.SelectedRow) {
            S = S + '\nSelected Name: ' + DialogBox.SelectedRow.Get('Name').toString();
        }
        tp.InfoNote('DialogResult = ' + S);

    }
</script>
