@{
    ViewBag.Title = "SiteMenu";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>A document-like menu, with a toggle button for small srceens, that supports columns on menu items. </p>
</div>

<br />

<div class="html-code">

    <div id="SiteMenu" class="tp-SiteMenu" data-setup="{ BreakPoint: 768 }">

        <div class="tp-Toggle" style="order: 1;">
            <div class="tp-Btn">Menu</div>                         <!-- toggle button &#8801; &#9776; -->
            <div class="tp-FlexFill"></div>
        </div>


        <div class="tp-Strip tp-Normal" style="order: 2;">

            <div class="tp-Item">MenuBarItem 1</div>                <!-- menu bar item -->

            <div class="tp-Item">
                MenuBarItem 2                      <!-- menu bar item with child menu items -->
                <div class="tp-Content">
                    <div class="tp-Item tp-Title">Title 2</div>
                    <div class="tp-Item" data-command="Command1">Item 1</div>
                    <div class="tp-Item">Item 2</div>
                </div>
            </div>

            <div class="tp-Item">
                MenuBarItem 3                      <!-- menu bar item with child menu items in columns -->
                <div class="tp-Content">
                    <div class="tp-Columns">
                        <div class="tp-Column">
                            <div class="tp-Item tp-Title">Title 3</div>
                            <div class="tp-Item">Item 1</div>
                            <div class="tp-Item">Item 2</div>
                        </div>
                        <div class="tp-Column">
                            <div class="tp-Item">Item 1</div>
                            <div class="tp-Item">Item 2</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



<script class="js-code">

    var mnu;
    tp.Ready(function () {
        mnu = new tp.SiteMenu('#SiteMenu');

        mnu.On('ItemClick', function (Args) {
            var S = Args.ItemText + ' - Command: ' + Args.Command;
            tp.InfoNote(S);
        });

    });

</script>

 