@{
    ViewBag.Title = "ToolBar and ButtonEx";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>The <code>tp.ButtonEx</code> control is button class with ico and text. It actually is an anchor element. Used by the <code>tp.ToolBar</code> control. </p>
    <p>The <code>tp.ToolBar</code> control is a tool-bar.</p>
    <p>Both classes provide properties to handle the display of the buttons regarding the Text and the Icon.</p>
</div>

<br />



<div class="html-code">
    <div>
        <button onclick="ToggleNoText()">Toggle NoText</button> <br /> <br />
        <button onclick="ToggleIcoMode()">Toggle IcoMode</button> <br />
    </div>
    <br />

    <div id="tb1" class="ToolBar">
        <a class="ButtonEx" data-setup="{ Command: 'Home', Text: 'Home', ToolTip: 'Home' , IcoClasses: 'fa fa-home',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'List', Text: 'List', ToolTip: 'List' , IcoClasses: 'fa fa-list',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Filter', Text: 'Filter', ToolTip: 'Filter' , IcoClasses: 'fa fa-search',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'First', Text: 'First', ToolTip: 'First' , IcoClasses: 'fa fa-step-backward',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Prior', Text: 'Prior', ToolTip: 'Prior' , IcoClasses: 'fa fa-caret-left',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Next', Text: 'Next', ToolTip: 'Next' , IcoClasses: 'fa fa-caret-right',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Last', Text: 'Last', ToolTip: 'Last' , IcoClasses: 'fa fa-step-forward',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'Edit', Text: 'Edit', ToolTip: 'Edit' , IcoClasses: 'fa fa-edit',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Insert', Text: 'Insert', ToolTip: 'Insert' , IcoClasses: 'fa fa-plus',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Delete', Text: 'Delete', ToolTip: 'Delete' , IcoClasses: 'fa fa-minus',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Save', Text: 'Save', ToolTip: 'Save' , IcoClasses: 'fa fa-floppy-o',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'Cancel', Text: 'Cancel', ToolTip: 'Cancel' , IcoClasses: 'fa fa-times',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Close', Text: 'Close', ToolTip: 'Close' , IcoClasses: 'fa fa-sign-out',  NoText: true, Ico: 'Left'}"></a>
    </div>

    <br />
    <div id="tb2" class="ToolBar">
        <a class="ButtonEx" data-setup="{ Command: 'Home', Text: 'Home', ToolTip: 'Home' , ImageUrl: '/images/demos/Home.png',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'List', Text: 'List', ToolTip: 'List' , ImageUrl: '/images/demos/List.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Filter', Text: 'Filter', ToolTip: 'Filter' , ImageUrl: '/images/demos/Filter.png',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'First', Text: 'First', ToolTip: 'First' , ImageUrl: '/images/demos/First.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Prior', Text: 'Prior', ToolTip: 'Prior' , ImageUrl: '/images/demos/Prior.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Next', Text: 'Next', ToolTip: 'Next' , ImageUrl: '/images/demos/Next.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Last', Text: 'Last', ToolTip: 'Last' , ImageUrl: '/images/demos/Last.png',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'Edit', Text: 'Edit', ToolTip: 'Edit' , ImageUrl: '/images/demos/Edit.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Insert', Text: 'Insert', ToolTip: 'Insert' , ImageUrl: '/images/demos/Insert.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Delete', Text: 'Delete', ToolTip: 'Delete' , ImageUrl: '/images/demos/Delete.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Save', Text: 'Save', ToolTip: 'Save' , ImageUrl: '/images/demos/Save.png',  NoText: true, Ico: 'Left'}"></a>

        <a class="ButtonEx" data-setup="{ Command: 'Cancel', Text: 'Cancel', ToolTip: 'Cancel' , ImageUrl: '/images/demos/Cancel.png',  NoText: true, Ico: 'Left'}"></a>
        <a class="ButtonEx" data-setup="{ Command: 'Close', Text: 'Close', ToolTip: 'Close' , ImageUrl: '/images/demos/Close.png',  NoText: true, Ico: 'Left'}"></a>
    </div>
</div>



<script class="js-code">
    tp.Ready(function () {

        function ItemClick(Args) {
            var Command = Args.Command;
            tp.InfoNote('Command: ' + Command);
        }

        let tb = new tp.ToolBar('#tb1');
        tb.On('ButtonClick', ItemClick);

        tb = new tp.ToolBar('#tb2');
        tb.On('ButtonClick', ItemClick);
    });



    var NoText = true;
    var IcoMode = tp.ButtonExIcoMode.Left;

    function ToggleNoText() {
        NoText = !NoText;
 
        let tb = tp.GetScriptObject('#tb1');
        tb.SetNoText(NoText);

        tb = tp.GetScriptObject('#tb2');
        tb.SetNoText(NoText);
    }

    function ToggleIcoMode() {
        if (IcoMode === tp.ButtonExIcoMode.Left) {
            IcoMode = tp.ButtonExIcoMode.Top;
        } else if (IcoMode === tp.ButtonExIcoMode.Top) {
            IcoMode = tp.ButtonExIcoMode.None;
        } else {
            IcoMode = tp.ButtonExIcoMode.Left;
        }

        let tb = tp.GetScriptObject('#tb1');
        tb.SetIcoMode(IcoMode);

        tb = tp.GetScriptObject('#tb2');
        tb.SetIcoMode(IcoMode);

    }

</script>

 
