@{
    Command[] BarItems = DataStore.GetMainMenu();
}

<div class="tab-container main-menu" >
    <div class="btn-to-left">◂</div>
    <div class="tab-bar">
    @foreach (var BarItem in BarItems)
    {
       <div class="tab-item">
           <div class="tp-Text">@BarItem.Title</div>
           <div class="tp-List">
               @if (BarItem.Items != null && BarItem.Items.Count > 0)
                {
                    foreach (var Item in BarItem.Items)
                    {
                        <div class="main-menu-item main-menu-command" data-setup="@Item.SerializeSetup()">@Item.Title</div>
                    }
                }
           </div>
       </div>     
    }
    </div>
    <div class="btn-to-right">▸</div>
</div> 

<script>
    tp.Ready(() => {       
        let TabBarHandler = new app.TabBarHandler('.main-menu');
        let TabBarItems = TabBarHandler.GetTabBarItems();

        const CssClass = 'tp-Visible';        
 
        TabBarItems.forEach((elBarItem) => {
            let Button = tp.Select(elBarItem, '.tp-Text');
            let List = tp.Select(elBarItem, '.tp-List');

            app.DropDownHandler(Button, List, CssClass);
        });
    });
</script>