@{
    ViewBag.Title = "Accordion";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        Accordion <br />
        Each child is a div containing two divs, a title and a content div. <br />
    </p>
</div>

<br />



<div class="html-code">
    <div>
        <button id="btn1" onclick="AddItem()">Add Item</button>
    </div>
    <br />
    <div>
        <label>Allow Multi Expand: &nbsp; <input id="chAllowMultiExpand" type="checkbox" onchange="AllowMultiExpandChanged()" /> </label>
    </div>
    <br />

    <div id="Control" class="tp-Accordion" data-setup="{AllowMultiExpand: false}">
        <div>
            <div><span style="font-weight: bold;">Item 1</span></div>
            <div>
                <p>Hi there</p>
                <p>Content of the first item</p>
            </div>
        </div>
        <div>
            <div>Item 2</div>
            <div>
                <p>This content belongs to</p>
                <p>the second accordion item</p>
            </div>
        </div>
    </div>
</div>


<script class="js-code">
    var ctrl = null;
    var Counter = 2;
    tp.Ready(function () {
        ctrl = new tp.Accordion('#Control');
    });

    function AddItem() {
        Counter++;
        var el = ctrl.AddItem('Item ' + Counter);

        el = ctrl.ContentElementAt(ctrl.Count - 1);
        el.innerHTML = 'This content belongs to item ' + Counter;
    }

    function AllowMultiExpandChanged() {
        ctrl.AllowMultiExpand = chAllowMultiExpand.checked;
    }
</script>



