@{
    ViewBag.Title = "IFrame";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        An iframe element <br />
        The Url property controls what page the iframe displays. <br />
        The Content property is used when HTML content is passed to the iframe, instead of a Url. <br />
        The UseSpinner property controls whether to display a global spinner while loading a document to the iframe
    </p>
</div>

<br />

<div  class="html-code" >
    <iframe id="IFrame" data-setup="{Width: 800, Height: 600,  Url: 'https://jsdoc.app/'}"></iframe>
</div>
 
<script class="js-code">
    tp.Ready(function () {
        new tp.IFrame('#IFrame');
    });
</script>

 