@{
    ViewBag.Title = "Splitter";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        The <code>tp.Splitter</code> is just a splitter bar. <br />        
    </p>

    <p>
        Place the splitter bar between two divs and let it auto-config. <br />
    </p>

    <p>
        You may define the <code>Panel1MinSize</code> constraint. 
        And if <code>UseBothPanels</code> is set to <code>false</code>, (<code>true</code> is the default), then you may define the <code>Panel1MaxSize</code> constraint too.
    </p>
    <p>
        If <code>UseBothPanels</code> is set to <code>true</code>, the default, then you may define the <code>Panel2MinSize</code> constraint too.
    </p>
</div>

<br />

<div>
    <button id="btn1" onclick="ToggleSplitter()">Toggle Splitter</button> <br />
</div>

<br />

<style>
    #Container {
        position: relative;
        display: flex;
        flex-direction: row;
        border: 1px solid gray;
        height: 450px;
        width: 100%;
    }

    #pnl1 {
        position: relative;
        background-color: lightcoral;
    }

    #pnl2 {
        position: relative;
        background-color: lightblue;
        flex-grow: 1;
    }
</style>

<div class="html-code">
    <div id="Container">
        <div id="pnl1">This is the panel 1</div>
        <div class="tp-Splitter"></div>
        <div id="pnl2">This is the panel 2</div>
    </div>
</div>


<script class="js-code">
    let Splitter;

    tp.Ready(function () { 
        Splitter = new tp.Splitter('.tp-Splitter');
        AdjustSplitter();
    });

    function AdjustSplitter() {
        let o;

        if (Splitter.IsHorizontal) {
            tp.SetStyle(Container, { 'flex-direction': 'column', });
            o = { height: '150px', width: '', }; 
        } else {
            tp.SetStyle(Container, { 'flex-direction': 'row', });
            o = { height: '', width: '150px', };            
        }

        tp.SetStyle(pnl1, o);

    }

    function ToggleSplitter() {
        Splitter.IsHorizontal = !Splitter.IsHorizontal;
        AdjustSplitter();
    }
</script>

 
