 

@{
    ViewBag.Title = "TabControl";
}

    <partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>A TabControl.</p>
    <p>
        TabControll uses a <a href="https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver" target="_blank">ResizeObserver</a> (actually a <code>tp.ResizeDetector</code>)
        to detect whether tabs fit in tab-bar width. <br />
        Provides three rendering modes: Normal, Toggle and NextPrev. The rendering mode changes automatically from Normal to the others and back. <br />
        The user defines just the <code>ResponsiveMode</code> and then the mode goes from Normal to that <code>ResponsiveMode</code> depending on the width.
    </p>

    <p>You can add a new tab page, get or set the text of a tab, set the selected tab page, etc.</p>
</div>

<br />



<div class="html-code">
    <div>
        <label for="cboMode">Responsive Mode: </label>
        <select id="cboMode" onchange="SelectedModeChanged()">
            <option value="2">Toggle</option>
            <option value="4" selected>Prev-Next</option>
        </select>
    </div>
    <br />

    <div>
        <p><button id="btn1" onclick="AddTabPage()">Add Page</button></p>
        <p><button id="btn2" onclick="RemovePageAt()">Remove Page at Index</button>&nbsp; <input id="edtIndex" type="text" value="0" /> </p>
    </div>

    <br />

    <div id="Control" class="tp-TabControl" data-setup="{ SelectedIndex: 0 }">
        <div><div>Page 1</div><div>Page 2</div><div>Page 3</div></div>
        <div>
            <div>Content 1</div>
            <div>Content 2</div>
            <div>Content 3</div>
        </div>
    </div>
</div>



<script class="js-code"> 
    var ctrl = null;
    var Counter = 3;

    function SelectedModeChanged() {
        let Mode = cboMode.value;
        Mode = tp.StrToInt(Mode);
        ctrl.ResponsiveMode = Mode;
    }

    function SetupPage(Page) {
        Page.BackColor = tp.RandomColor();
        Page.StyleProp('font-size', '14px');
        Page.StyleProp('font-weight', 'bold');
    }

    function AddTabPage() {
        Counter++;

        let Page = ctrl.AddPage('Item ' + Counter);
        tp.Append(Page.Handle, `<span>This content belongs to item ${Counter}</span>`);

        SetupPage(Page);
    }

    function RemovePageAt() {
        let v = edtIndex.value;
        let NumberConvertionResult = tp.TryStrToInt(v);
        if (NumberConvertionResult.Result === true)
            ctrl.RemovePageAt(NumberConvertionResult.Value);
    }

    tp.Ready(function () {
        ctrl = new tp.TabControl('#Control');
        ctrl.Height = 120;

        let List = ctrl.GetPageList();
        List.forEach((page) => {
            SetupPage(page);
        });
    });




</script>

 
 