@{
    ViewBag.Title = "VirtualScroller";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<div>
    <p>
        A virtual scroller helper class for rows with fixed height. <br />
        The scroller consists of a viewport HTMLElement which contains and scrolls a child container upon which rows are rendered. The container must be the single child of the viewport. <br />
        The RowHeight property defines the height of each row and if it is left unspecified then the height of the first row is used. <br />
    </p>
</div>

<br />
<br />

<div id="Viewport" class="html-code"></div>

<script class="js-code">
    TestVirtualScroller = function () {

        var RowCount = 1000;
        //var RowHeight = 50;
        var ViewportHeight = 400;

        var divViewport = tp.Select('#Viewport');
        divViewport.tabIndex = 0; 
        var divContainer = null;

        tp.SetStyle(divViewport, {
            position: 'relative',
            left: '40px',
            width: '200px',
            height: ViewportHeight + 'px',
        });

        var A = [];
        for (var i = 0, ln = RowCount; i < ln; i++) {
            var o = { Name: 'row ' + i, Num: i };
            A.push(o);
        }

        vs = new tp.VirtualScroller(divViewport, divContainer);
        //vs.RowHeight = RowHeight;
        vs.SetRowList(A);
    };

    tp.Ready(function () {
        TestVirtualScroller();
    });
 
</script>

<partial name="_AceEditorPager" />