@{
    ViewBag.Title = "Title";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2>

<!-- Text goes here -->
<div>
    <p></p>
</div>

<br />
<br />

<!-- Control goes here -->
<div class="html-code">

</div>

<script class="js-code">
    tp.Ready(function () {
        //
    });
</script>

<partial name="_AceEditorPager" />