@{
    ViewBag.Title = "Demos";
}


<style>
    ul, ol {
        padding-left: 0;
    }
</style>
 

<div><a href="/demo/DomElements" target="_self">DOM elements</a></div>
<div><a href="/demo/EmptyTest" target="_self">Empty Test</a></div>
<div><a href="/demo/TabIndexAndFocus" target="_self">Tab index and focus</a></div>

<div class="tp-Row">
    <div class="l3 m3 s6 xs12">
        <h2>Containers</h2>
        <div style="font-size: 14px;">
            <ol class="no-style">
                <li><div><a href="/demo/DropDownBox" target="_self">DropDownBox</a></div></li>
                <li><div><a href="/demo/VirtualScroller" target="_self">VirtualScroller</a></div></li>
                <li><div><a href="/demo/Splitter" target="_self">Splitter</a></div></li>
                <li><div><a href="/demo/GroupBox" target="_self">GroupBox</a></div></li>
                <li><div><a href="/demo/Accordion" target="_self">Accordion</a></div></li>
                <li><div><a href="/demo/TabControl" target="_self">TabControl</a></div></li>
                <li><div><a href="/demo/PanelList" target="_self">PanelList</a></div></li>
                <li><div><a href="/demo/ImageSlider" target="_self">ImageSlider</a></div></li>
                <li><div><a href="/demo/IFrame" target="_self">IFrame</a></div></li>
                <li>&nbsp;</li>
                <li><div><a href="/demo/ElementResizeDetector" target="_self">Element Resize Detector</a></div></li>
                <li><div><a href="/demo/ElementSizeMode" target="_self">Element Size Mode</a></div></li>

            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Controls</h2>
        <div style="font-size: 14px;">
            <ol class="no-style">
                <li><div><a href="/demo/AutocompleteList" target="_self">AutocompleteList</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/Label" target="_self">Label</a></div></li>
                <li><div><a href="/demo/TextBox" target="_self">TextBox</a></div></li>
                <li><div><a href="/demo/Memo" target="_self">Memo</a></div></li>
                <li><div><a href="/demo/CheckBox" target="_self">CheckBox</a></div></li>
                <li><div><a href="/demo/ComboBox" target="_self">ComboBox</a></div></li>
                <li><div><a href="/demo/ListBox" target="_self">ListBox</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/CheckListBox" target="_self">CheckListBox</a></div></li>
                <li><div><a href="/demo/CheckComboBox" target="_self">CheckComboBox</a></div></li>
                <li><div><a href="/demo/RadioGroup" target="_self">RadioGroup</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/HtmlComboBox" target="_self">HtmlComboBox</a></div></li>
                <li><div><a href="/demo/HtmlListBox" target="_self">HtmlListBox</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/NumberBox" target="_self">NumberBox</a></div></li>
                <li><div><a href="/demo/HtmlNumberBox" target="_self">HtmlNumberBox</a></div></li>
                <li><div><a href="/demo/HtmlNumberBoxEx" target="_self">HtmlNumberBoxEx</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/CalendarBox" target="_self">CalendarBox</a></div></li>
                <li><div><a href="/demo/DateBox" target="_self">DateBox</a></div></li>
                <li><div><a href="/demo/HtmlDateBox" target="_self">HtmlDateBox</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/ImageBox" target="_self">ImageBox</a></div></li>
                <li><div><a href="/demo/ValueSlider" target="_self">ValueSlider</a></div></li>
                <li><div><a href="/demo/ProgressBar" target="_self">ProgressBar</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/TreeView" target="_self">TreeView</a></div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Menus - Buttons - ToolBars </h2>
        <div style="font-size: 14px;">
            <ol class="no-style">

                <li><div><a href="/demo/Button" target="_self">Button</a></div></li>
                <li><div><a href="/demo/ToolBar" target="_self">ToolBar and ButtonEx</a></div></li>
                <li><div><a href="/demo/ItemBar" target="_self">ItemBar</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/Menu" target="_self">Menu</a></div></li>
                <li><div><a href="/demo/ContextMenu" target="_self">ContextMenu</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/SiteMenu" target="_self">SiteMenu</a></div></li>

            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Dialogs</h2>
        <div style="font-size: 14px;">
            <ol class="no-style">
                <li><div><a href="/demo/Notifications" target="_self">Notifications</a></div></li>
                <li><div><a href="/demo/NotificationDialogs" target="_self">Notification Dialogs</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/FrameBox" target="_self">FrameBox</a></div></li>
                <li><div><a href="/demo/ContentWindow" target="_self">ContentWindow</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/DataSetBox" target="_self">DataSetBox</a></div></li>
                <li><div><a href="/demo/TableBox" target="_self">TableBox</a></div></li>
                <li><div><a href="/demo/RowBox" target="_self">RowBox</a></div></li>
                <li>&nbsp;</li>

                <li><div><a href="/demo/PickRowsBox" target="_self">PickRowsBox</a></div></li>
                <li><div><a href="/demo/PickRowBox" target="_self">PickRowBox</a></div></li>

                <li>&nbsp;</li>
                <li><div><a href="/demo/SqlFilterBox" target="_self">SqlFilterBox</a></div></li>
            </ol>
        </div>
    </div>
</div>


<div class="tp-Row">
    <div class="l3 m3 s6 xs12">
        <h2>Grid</h2>
        <div style="font-size: 14px;">
            <ol class="no-style">
                <li><div><a href="/demo/Grid" target="_self">Grid: Thousands of rows</a></div></li>
                <li><div><a href="/demo/Grid2" target="_self">Grid2: Initialization using CreateParams</a></div></li>
                <li><div><a href="/demo/Grid3" target="_self">Grid3: Initialization using properties directly</a></div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Data</h2>
        <div style="font-size: 14px;">
            <ol class="no-style">
                <li><div><a href="/demo/SimpleBinding" target="_self">Simple Binding</a></div></li>
                <li><div><a href="/demo/ListBinding" target="_self">List Binding</a></div></li>
                <li><div><a href="/demo/MasterDetail" target="_self">Master - Detail</a></div></li>
                <li><div><a href="/demo/Locator" target="_self">Locator</a></div></li>
                <li><div><a href="/demo/BrokerView" target="_self">BrokerView and Broker</a></div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">

    </div>

    <div class="l3 m3 s6 xs12">

    </div>

</div>







<script type="text/javascript">


    tp.Main = function () {


    };


</script>



