 

@{
    ViewBag.Title = "Empty Test";
}

<partial name="~/Demos/Shared/_Index.cshtml" />
<h2>@ViewBag.Title</h2> 

<button id="btn1" onclick="Button1Click()">Button1</button> <br />
<button id="btn2" onclick="Button2Click()">Button2</button> <br />

<style>
    .section > div {
        position: relative;
        border: 1px solid gray;
        margin: 20px;
        outline: none;
        width: 200px;
        height: 150px;
    }

        .section div:focus {
            border: 3px solid #ff6a00;
        }

        .section > div > div {
            position: relative;
            left: 20px;
            top: 20px;
            width: 120px;
            height: 50px;
            background-color: lavender;
        }
</style>

<section class="section">
    <div id="div1"></div>

    <div id="div2" tabindex="-1"></div>

    <div id="div3" tabindex="0"></div>

    <div id="div4" tabindex="1"></div>

    
</section>


<script>
    tp.Ready(function () {
        
    });

    function f() {
        let Url = '/App/Test';
        tp.Ajax.GetAsync(Url);
    }

    let ShowSourceEditDialog = async () => {
        let EditorMode = 'sql';
        let SourceCode = 'select * from Customer';
        let DialogBox = await tp.SourceEditBoxAsync(EditorMode, SourceCode);

        let S = tp.EnumNameOf(tp.DialogResult, DialogBox.DialogResult);
        if (DialogBox.Args.Editor) {
            S = S + '\nSource Code: ' + DialogBox.Args.Editor.getValue();
        }
        tp.InfoNote('DialogResult = ' + S);
    };

    let ShowSelectSqlEditDialog = async () => {
        let SS = new tp.SelectSql('select * from Customer');

        let DialogBox = await tp.SelectSqlEditDialog.ShowModalAsync(SS);

        let S = tp.EnumNameOf(tp.DialogResult, DialogBox.DialogResult); 
        tp.InfoNote('DialogResult = ' + S);
    };

 
    let Button1Click = async function () {
        await ShowSelectSqlEditDialog();
    }

    function Button2Click() {
 
    }

</script>