@{
    Layout = "DemoLayout";
}

<style>
    ul, ol {
        padding-left: 40px;
    }
</style>


<div>@Html.ActionLink("Empty Test", "EmptyTest", "Test", null, new { target = "_self" })</div>
<div><a href="/demo/TabIndexAndFocus" target="_self">Tab index and focus</a></div>


 
