<div class="pager-container main-pager">

    <div class="top-zone">
        <div class="tab-container pager">
            <div class="btn-to-left">◂</div>
            <div class="tab-bar"></div>
            <div class="btn-to-right">▸</div>
        </div>
    </div>

    <div class="page-list">
    </div>
</div>


<script>
    tp.Ready(() => {
 
    });
</script>