<div class="pager-container main-pager-container">

    <div class="top-zone">
        <div class="tab-container">
            <div class="btn-to-left">◂</div>
            <div class="tab-bar"></div>
            <div class="btn-to-right">▸</div>
        </div>
    </div>

    <div class="page-list view-list">
    </div>
</div>


 