:root {
    /* Font colors */
    --FontColor: #777;
    --FontColor1: white;
    --FontColor2: #444; 

    /* Background colors */
    --BackColor: white;
    --BackColor1: black;
    --BackColor2: #e6e6e6;
    --BackColor3: #bbb;
 
    --BackGreen: green;
    --BackRed: red;

    --NotificationColor: #4bb07a;
    --SuccessColor: #4bb07a;
    --ErrorColor: #e4444c;
    --InfoColor: #ff9;
    --HoverColor: #FFD200;
    --DisabledColor: var(--BackColor2);
    --SelectedColor: lightgoldenrodyellow; 
    --SelectedListItemColor: lightblue;
    --MarkColor: var(--BackGreen);
    --FocusColor: #4ab2f1;
 
    /* Misc colors */
    /* --BorderColor: #ccc; */
    --ShadowColor: rgba(0,0,0,0.25);
 
    /* Miscs */
    --GridDropTargetOutline: var(--SelectedColor) double thick;
    --Border: 1px solid #ccc;
    --ButtonPadding: 0 5px;
    --TextPadding: 2px 4px;
 
    --ControlLineHeight: 1.5;
    /* --ControlHeight: 2em; */
 

}
